
.main-right {
	min-width: 400px;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	align-items: flex-end ;
	justify-content: flex-end;
	
}


.main-right div {
	height: 50%;
	text-align: center;
}

.main-right .buttons {
	display: flex;
	align-items: flex-end;
	
}

// .main-right p {
// 	text-align: justify;
// 	font-family: Ubuntu-Light;
// 	line-height: 25px;
// 	color: white;
// }

.inputs {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

}

.inputs input {
	width: 50px;
	height: 50px;
	color: #3498db;
	margin: 10px;
	border: 2px solid transparent;
	border-radius: 5px;
	background: #4a4a4a;
	text-align: center;
	font-family: Ubuntu-Bold;
	font-size: 20px;
	transition: all 0.3s;
	
}

.inputs input:focus {
	border: 2px solid #3498db;
}

.buttons .submit{
	margin-right: auto;
	align-self: flex-end; 

}
.buttons .skip { 
	margin-right: auto ;
}
.buttons button {
	border: 2px solid #3498db;
	border-radius: 50px;
	margin: 0 10px;
	padding: 5px 20px 7px 20px;
	background: transparent;
	font-family: Ubuntu-Bold;
	color: white;
	transition: all 0.3s;
	margin-right: auto ; 
}

.buttons button:hover {
	background: #3498db;
	color: white;
}
