.footer-main {
	margin: 20px 0;
}

.footer-main span {
	font-family: Ubuntu-Light;
	margin: 0 5px;
	border-radius: 5px;
	padding: 5px 10px;
	color: white;
	background: rgb(20, 159, 106);
	background: linear-gradient(to right, #3296da, #6DD5FA, #6DD5FA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

